/* Initial settings */

h1,
a,
ul li a,
h2,
p,
span {
  color: var(--color-text);
}

body {
  padding: 0;
  margin: 0;
  background-image: var(--color-bg);
}

.container {
  display: flex;
  max-width: 1200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

section {
  font-family: Ubuntu;
  opacity: 0;
}

p {
  font-family: "Montserrat";
}

/* Header text animation */

.show {
  animation: section-show 1s ease-in-out 1 forwards;
}

.show-block {
  animation: block-show 1s ease-in-out 1 forwards;
}

.expirience-block {
  opacity: 0;
}

@keyframes section-show {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 100;
    transform: translateY(0%);
  }
}

@keyframes block-show {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 100;
    transform: translateX(0%);
  }
}

/* Menu */

.menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 100px;
  font-family: "Montserrat";
  align-items: center;
}

.menu-background {
  position: absolute;
  top: 1px;
  background-color: white;
}

.menu-items {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
  color: white;
}

.menu-items li {
  list-style: none;
}

.menu-items a {
  font-weight: bold;
  text-decoration: none;
  margin: 0;
  padding: 0;
  transition-duration: 0.5s;
}

.menu-items a:hover {
  color: var(--link-color);
}

.logo {
  height: 100px;
  align-items: center;
  display: flex;
}

.logo img {
  height: 50%;
}

.logo a {
  background-image: url("./images/icon.png");
  height: 50px;
  width: 50px;
  background-size: contain;
}

/* Header */

header {
  margin: 50px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  width: 100%;
}

.pic-container {
  height: 250px;
  border-radius: 100%;
  overflow: hidden;
}

.pic {
  height: 100%;
  transform: translateY(100%);
  animation: header-pic 1s ease-in-out 0.5s 1 forwards;
}

@keyframes header-pic {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

.header-box,
.desc-box {
  overflow: hidden;
  position: relative;
}

.header-text p {
  font-size: 1.5rem;
  font-family: "Montserrat";
  margin: 15px 0;
  transform: translateY(150%);
  animation: header-desc 1s ease-in-out 1.4s 1 forwards;
}

.header-text h2 {
  margin: 15px 0;
  font-size: 2rem;
  font-family: Ubuntu;
  margin: 0;
}

.main-name {
  transform: translateY(-150%);
  animation: header-name 1s ease-in-out 0.7s 1 forwards;
}

@keyframes header-name {
  from {
    transform: translateY(150%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes header-desc {
  from {
    transform: translateY(-150%);
  }
  to {
    transform: translateY(0%);
  }
}

/* Main */

main {
  width: 100%;
}

main section {
  margin: 0;
}

main h1 {
  margin: 0;
}

/* Carousel */

.tech-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.tech-image {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 50px;
  height: 50px;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid var(--border-color);
  transition-duration: 0.5s;
}

.tech-image img {
  width: 100%;
  object-fit: contain;
}

.tech-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.tech-content p {
  z-index: 2;
  position: absolute;
  padding: 0;
  margin: 0;
  opacity: 0;
  font-family: Ubuntu;
  font-size: 17px;
  font-weight: bold;
  transition-duration: 0.7s;
  color: black;
}

.tech-content::after {
  border-radius: 5px;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  transition-duration: 0.7s;
}

.tech-content:hover:after {
  opacity: 60%;
}

.tech-content:hover p {
  opacity: 100%;
}

.tech-content:hover .tech-image {
  width: 100px;
}

.carousel {
  margin-bottom: 25px;
}

.carousel h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 25px;
}

.carousel-wrapper {
  overflow-x: hidden;
  position: relative;
}

.carousel-container {
  display: flex;
  gap: 25px;
  animation-name: carousel;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.carousel-wrapper::before {
  z-index: 1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.carousel-container:hover {
  animation-play-state: paused;
}

.tech-image:hover {
  width: 100px;
}

@keyframes carousel {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1479px);
  }
}

/* Section 1 */

.first-section {
  margin-bottom: 25px;
}

.first-section > h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 25px;
}

.projects-container {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  font-family: Ubuntu;
  width: 300px;
  overflow: hidden;
  position: relative;
  border: 1px solid var(--border-color);
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition-duration: 0.7s;
}

.project-image-box {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.project-image-box h1 {
  color: black !important;
  transform: translateY(-120%);
  position: absolute;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 0 15px;
  backdrop-filter: blur(1px);
}

.project-desc-box {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  transform: translateY(0);
  height: 100%;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
  padding: 5px;
}

.project-desc-text {
  color: white !important;
  font-weight: 600;
}

.project-links {
  display: flex;
  gap: 15px;
}

.project-links a {
  text-decoration: none;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid rgb(135, 206, 235);
  background-color: rgba(125, 211, 252, 0.3);
  color: white;
  transition-duration: 0.5s;
  text-align: center;
}

.project-links img {
  height: 15px;
}

.project-links a:hover {
  background-color: rgba(135, 206, 235, 1);
  color: black;
}

.project:hover .project-header {
  transform: translateY(-870%);
}

.project:hover .project-desc-box {
  transform: translateY(-100%);
}

.project:hover .project-img {
  filter: blur(2px);
}

/* Section 2 */

.second-section {
  margin-bottom: 25px;
  font-family: Ubuntu;
}

.header-second-section > h1 {
  margin-bottom: 25px;
  text-align: center;
  font-size: 2rem;
}

.expirience-header {
  display: flex;
  align-items: center;
  gap: 7px;
  flex-wrap: wrap;
}

.expirience-header h2,
.expirience-container-forth h2 {
  margin: 0;
}

.expirience-header img {
  height: 32px;
}

.expirience-container {
  margin-bottom: 20px;
}

.expirience-wrapper {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.expirience-container-second,
.expirience-container-forth {
  border: 1px solid var(--border-color);
  display: inline-block;
  width: fit-content;
  align-self: flex-end;
  padding: 35px;
}

.expirience-container-first,
.expirience-container-third {
  border: 1px solid var(--border-color);
  display: inline-block;
  width: fit-content;
  padding: 35px;
}

.expirience-container-second .expirience-header {
  direction: rtl;
}

.expirience-container-second .expirience-header + p {
  direction: rtl;
}

.expirience-container-forth {
  direction: rtl;
}

.expirience-container-forth + p {
  direction: rtl;
}

/* Third section */

.third-section {
  margin-bottom: 25px;
}

.third-section > h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 25px;
}

.third-section p {
  font-size: 1.1rem;
  line-height: 25px;
}

/* Contact */

.fourth-section {
  padding: 15px 15px;
  border-top: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.contact-wrapper {
  display: flex;
  justify-content: space-between;
}

.contact-right,
.contact-left {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.contact-right {
  align-items: flex-end;
}

.contact-container {
  height: 30px;
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  gap: 5px;
}

.contact-container img {
  height: 100%;
}

.contact-container a {
  color: var(--link-color);
  text-decoration: none;
}

.fourth-section > h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 35px;
}

/* Section 3 */

.third-section {
  padding: 5px;
}

/* Dark/light theme */

@media (prefers-color-scheme: dark) {
  .logo a {
    filter: invert(1);
  }
  :root {
    --color-text: #ffeeee;
    --color-bg: linear-gradient(19deg, #222222, #2a2a2a);
    --link-color: rgb(179 185 255);
    --border-color: #fff;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text: #000000;
    --link-color: rgb(77, 1, 255);
    --color-bg: linear-gradient(19deg, #ffebea 0%, #ddd6f3 100%);
    --border-color: rgb(0, 0, 0);
  }
  p {
    font-weight: 600;
  }
  .tech-content::after {
    background-color: black;
  }
  .carousel-text {
    color: white !important;
  }
}

/* First animation */

.ani {
  background: var(--color-bg);
  height: 100vh;
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  opacity: 100%;
  pointer-events: none;
  z-index: 10;
  animation: back 0.5s ease-out 2.5s 1 forwards;
  position: fixed;
}

.a-text {
  color: var(--color-text);
  font-family: Ubuntu;
  font-size: 4em;
  padding: 0;
  opacity: 0;
  margin: 0;
  z-index: 11;
  animation: text 2s ease-out 0.5s 1 forwards;
}

@keyframes text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
    transform: scale(1.2);
  }
}

@keyframes back {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

/* Media */

@media screen and (max-width: 768px) {
  nav .logo {
    float: none;
    width: auto;
    justify-content: center;
  }
  .menu {
    justify-content: center;
  }
  header {
    flex-direction: column-reverse;
    margin: 50px 0;
    gap: 50px;
  }
  .pic-container {
    height: 170px;
  }
  .header-box h2 {
    font-size: 1.5rem;
    text-align: center;
  }
  .desc-box p {
    font-size: 1.3rem;
    text-align: center;
  }
  .expirience-block {
    border: none;
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    box-sizing: border-box;
  }
  nav .menu-items a {
    display: none;
  }
  .menu-items {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .contact-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .contact-right .contact-container {
    flex-direction: row-reverse;
  }
  .contact-right {
    align-items: flex-start;
  }
}
